{
  "mcpServers": {
    "google-patents-mcp": {
      "command": "npx",
      "args": [
        "-y",
        "@kunihiros/google-patents-mcp"
      ],
      "env": {
        "SERPAPI_API_KEY": "xxxx"
      }
    },
    "grok-search": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "grok-search-mcp"
      ],
      "env": {
        "GROK_API_KEY": "xxxx",
        "GROK_BASE_URL": "https://api.x.ai/v1"
      }
    }
  }
}